body {
  min-height: 2000px;
  padding-top: 70px;
}
.navbar-default {
	background-color: rgba(0, 0, 0, 0.8);
	border-color: white;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:hover {
	color: #FFB800;
}

.navbar-default .navbar-nav > .active > a {
	color: white;
	background-color: #00008B;
}

.navbar-default .navbar-nav > li > a {
	color:white;margin-left:-5px;
}

.dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: white;
	background-color: #e7e7e7;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.8);
}

.dropdown-menu > li > a:hover {
	color: white!important;
}

.media {max-width:768px;}
	
.navbar-default .navbar-nav .open .dropdown-menu> li > a:hover,
	.dropdown-menu > li > a:hover {
		color: white!important;
	}

